.details-nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  padding: 1.5rem 1.5rem 1.5rem 2.5rem;
  background-color: var(--oxford-blue);
  gap: 1rem;
  z-index: 1;
  position: static;

  &.open {
    z-index: 2;
  }

  &.close {
    z-index: -1;
  }

  &.mobile {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
  }

  & svg {
    width: 24px;
    height: 24px;
  }

  & a {
    text-decoration: none;
    color: var(--platinum);
    font-size: 1.2rem;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    gap: 8px;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (max-width: 1300px) {
  .details-nav {
    align-items: center;
  }
}

.toggle-sidebar-button {
  width: 64px;
  height: 64px;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 3;
  background: none;
  border: none;
  cursor: pointer;
}
