.budget__container {
  width: 100%;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 1fr 300px;
  gap: 1rem;
  padding: 1rem;
  grid-template-areas:
    "distribution income"
    "distribution form";
}
