@use "../../../styles/colors";

.search {
  display: flex;
  position: relative;
  flex-direction: column;
  width: min(500px, 100%);

  &:not(:focus-within) .search__results {
    display: none;
  }
}

.search__input {
  width: 100%;
}

.search__results {
  display: flex;
  flex-flow: column nowrap;
  height: 200px;
  position: absolute;
  top: calc(100% + 0.2rem);
  left: 0;
  width: 100%;
  border-radius: 0.4rem;
  background-color: white;
  border: 1px solid colors.$color-border-dark;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 100;
}

.search__result {
  width: 100%;
  box-sizing: border-box;
  &:not(:last-child) {
    border-bottom: 1px solid colors.$color-border-dark;
  }
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: start;
  margin: 0;
  gap: 0.5rem;
  padding: 0.4rem;
  & > p {
    margin: 0;
    font-weight: bold;
  }
}

.search__result-group {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  gap: 1rem;
  box-sizing: border-box;
  & > p {
    margin: 0;
  }
}
