@import "../../../../styles/colors";

.distribution__category {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  & > p {
    margin: 0;
  }

  & > p:first-child {
    text-align: left;
  }
}

.distribution__details {
  padding: 1rem 0;
  box-sizing: border-box;
  grid-column: 1/-1;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.distribution__details-item {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 2fr);

  & > p {
    margin: 0;
  }

  & > p:first-child {
    padding-left: 1rem;
    text-align: left;
  }
}

.distribution__button {
  background-color: $color-primary;
  color: $color-text-light;
  padding: 0.4rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.2rem;
  font-size: 1rem;
  font-weight: bolder;
  transition: all 50ms ease-in-out;

  &:hover {
    background-color: darken($color-primary, 5%);
  }
}

.distribution__details-item-operations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
