@use "../../../../styles/colors";
@use "../../../../styles/mixins";

.distribution__category {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: colors.$color-background-light;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: colors.$box-shadow;
  align-items: center;

  @include mixins.respond-to(md) {
    padding: 0.25rem;
  }

  & > p {
    margin: 0;
  }

  & > p:first-child {
    text-align: left;
  }
}

.distribution__details {
  padding: 1rem 0;
  box-sizing: border-box;
  grid-column: 1/-1;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  animation: fadeIn 0.5s;
}

.distribution__title {
  font-weight: bold;
}
