@import "../../../../styles/colors";

.form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.form__field {
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-sizing: border-box;
}

.form__label {
  font-weight: bold;
  width: 100%;
}

.form__button {
  background-color: $color-primary;
  color: $color-text-light;
  padding: 0.4rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.2rem;
  font-size: 1rem;
  font-weight: bolder;
  transition: all 50ms ease-in-out;

  &:hover {
    background-color: darken($color-primary, 5%);
  }
}
