@import "../../../../styles/colors.scss";

.form {
  //grid-area: form;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2rem;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 1rem;
  padding-right: 3rem;
}

.form__field {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.form__label {
  font-weight: bold;
}

.form__input {
  width: 100%;
  padding: 0.2rem;
  border: 1px solid $color-border-dark;
  border-radius: 0.2rem;
}

.form__button {
  background-color: $color-primary;
  color: $color-text-light;
  padding: 0.4rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.2rem;
  font-size: 1rem;
  font-weight: bolder;
  transition: all 50ms ease-in-out;

  &:hover {
    background-color: darken($color-primary, 5%);
  }
}
