@use "../../../../styles/colors";

.form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
  box-shadow: colors.$box-shadow;
  border-radius: 0.4rem;
}

.form__field {
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-sizing: border-box;
}

.form__label {
  font-weight: bold;
  width: 100%;
}
