@import "colors";

.button {
  background-color: $color-primary;
  color: $color-text-light;
  padding: 0.4rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.2rem;
  font-size: 1rem;
  font-weight: bolder;
  transition: all 50ms ease-in-out;

  &:hover {
    background-color: darken($color-primary, 5%);
  }
}
