@use "colors";
@use "mixins";

.button {
  background-color: colors.$color-primary;
  color: colors.$color-text-light;
  padding: 0.4rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.2rem;
  font-size: 1rem;
  font-weight: bolder;
  transition: all 50ms ease-in-out;

  @include mixins.respond-to(md) {
    font-size: 0.7rem;
  }

  &:hover {
    background-color: darken(colors.$color-primary, 5%);
  }
}
