@use "animations";
@use "mixins";

.page {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 2rem;
  animation: fadeIn 0.3s ease-in-out;
  flex: 1;
}
