// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;

// Typography
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
