main {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 10px white;
  grid-column: 2/3;
  grid-row: 1/3;
  display: flex;
  flex-flow: column nowrap;
  color: #242424;
  overflow-y: scroll;
  min-height: 700px;
}
