.table {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow: auto;
  padding-top: 1.5rem;
  box-sizing: border-box;
  min-width: fit-content;
}

.table-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  height: min-content;
  border-radius: 1rem;
  padding: 1rem;

  &:nth-child(even) {
    background-color: #242424;
    color: white;
    transition: all 200ms;

    button {
      background-color: white;
      color: #242424;

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 10px white;
      }
    }
  }

  & button {
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 10px #242424;
    }
  }
}

.table-item-head {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.table-item-details {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  max-height: 400px;

  & > * {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
  }
}
