.table-item-details {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 350px;

  & > * {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 1000px) {
  .table-item-details {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: auto;
  }
}
