.prediction-main {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;

  & > div {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 1rem;
    padding: 1rem 1.5rem;
    height: 100%;

    & > div {
      height: 100%;
    }
  }
}
