@import "../../styles/colors";

.prediction__container {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1.3fr 1.3fr 3fr;
  grid-template-rows: 500px;
  grid-template-areas: "form results table";
  grid-auto-flow: row;
  box-sizing: border-box;
  margin-bottom: 1rem;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 400px;
    grid-template-areas:
      "form results"
      "table table";
  }
}
