@use "../../styles/mixins";

.prediction__container {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1.3fr 1.3fr 3fr;
  grid-template-rows: 500px;
  grid-template-areas: "form results table";
  grid-auto-flow: row;
  box-sizing: border-box;
  margin-bottom: 1rem;

  @include mixins.respond-to(lg) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 400px;
    grid-template-areas:
      "form results"
      "table table";
  }

  @include mixins.respond-to(md) {
    display: flex;
    flex-direction: column;
  }
}
