@use "../../../../styles/colors";

.income {
  grid-area: income;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 1rem;
  background-color: white;
  border-radius: 0.4rem;
  box-shadow: colors.$box-shadow;
}

.income__label {
  font-weight: bold;
  width: 100%;
}

.income__input {
  width: 100%;
  border: 1px solid colors.$color-border-light;
  padding: 0.35rem;
  border-radius: 0.4rem;
  text-align: center;
  font-size: 1rem;
  color: colors.$color-text-primary;
  background-color: colors.$color-neutral-light;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;

  &:focus {
    border-color: colors.$color-primary; // Highlight border color on focus
    box-shadow: 0 0 5px rgba(colors.$color-primary, 0.3); // Soft shadow on focus
    outline: none; // Remove default outline for custom styling
  }

  &:hover {
    border-color: colors.$color-border-dark; // Darker border on hover for better feedback
  }

  &::placeholder {
    color: colors.$color-text-secondary; // Subtle color for placeholder text
    font-style: italic;
  }
}
