@import "../../../../styles/colors";

.result {
  grid-area: results;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
  height: 100%;
  background-color: white;
  border-radius: 0.4rem;
  box-shadow: $box-shadow;
  padding: 1rem;
  box-sizing: border-box;

  @media (max-width: 1200px) {
    border-right: none;
  }
}

.result__field {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
