@use "../../../../styles/colors";

.result {
  grid-area: results;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.result__field {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.result__field--dark {
  color: colors.$color-text-light;
}
