@use "../../../../styles/colors";

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border-radius: 0.4rem;
  box-shadow: colors.$box-shadow;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 400px;

  &--loading {
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: white;
    box-shadow: colors.$box-shadow;
  }
}

.title {
  margin: 0;
  padding: 0.5rem;
  width: 100%;
}

.list__header {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: colors.$box-shadow;

  p {
    font-weight: bold;
  }
}
