@use "../../styles/colors";
@use "../../styles/mixins";

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.header__list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.header__list-item {
  transition: all 200ms ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.header__toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;

  & img {
    height: 2rem;
    width: 2rem;
  }
}
