.budgetAddItem {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  & > * {
    flex: 1;
  }

  & input {
    width: 50%;
    padding: 10px;
    border-radius: 1rem;
    text-align: center;
    border: 2px solid white;
    transition: all 200ms;
    font-size: 1rem;

    &:focus {
      outline: none;
      box-shadow: 0 0 10px white;
    }

    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    &[type="number"] {
      -moz-appearance: textfield;
    }

    &[type="number"] {
      -moz-appearance: textfield;
    }
  }
}

.add-button,
.save-button {
  padding: 0.4rem;
  font-size: 1rem;
  background-color: var(--platinum);
  color: #242424;
  border: 1px solid #242424;
  transition: 0.2s ease-in-out;
  max-width: 200px;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 3px white;
  }
}
