#root {
  width: clamp(550px, 100%, 1200px);
  text-align: center;
  box-sizing: border-box;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  height: 100%;

  @media (max-width: 800px) {
    padding: 0 0.5rem;
  }
}
