@use "styles/colors";

:root {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  padding: 0;

  color-scheme: light;
  box-sizing: content-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: colors.$app-background-light;
  color: colors.$color-text-primary;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.dark {
  background-color: colors.$app-background-dark;
}
