.investmentPredictionResult {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  min-width: 250px;
  flex: 1;
  background-color: var(--oxford-blue);
  color: var(--platinum);
  border-radius: 1rem;
}
