@use "../../../../styles/colors";

.table__item {
  background-color: colors.$component-background-light;
  border-radius: 0.4rem;
  box-shadow: colors.$box-shadow;
}

.table__item-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.table__item-difference {
  font-weight: bold;
}

.table__item-toggle {
  padding: 0.5rem;
  background-color: colors.$color-primary;
  color: colors.$color-text-light;
  border-radius: 0.2rem;
  cursor: pointer;
  border: none;
  font-weight: bolder;
  transition: all 50ms ease-in-out;

  &:hover {
    background-color: darken(colors.$color-primary, 5%);
  }
}

.table__item-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  gap: 0.5rem;
  padding-bottom: 1rem;
}

.table__item-month {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  & > p {
    margin: 0;
  }
}
